<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.springcloud.dao.StorageDao">
<!--    void decrease(@Param("productId") Long productId, @Param("count") Integer count);-->
    <update id="decrease">
        update tstorage set used=used+#{count} , residue=residue-#{count}
        where product_id=#{productId}
    </update>
</mapper>